    .board-link {
      font-size: 15px;
      margin-left: 12px;
      font-weight: normal;
      color: #0066cc;
      text-decoration: none;

      position: relative;
      top: -3px;
    }
    .board-link:hover {
      color: #003366;
      text-decoration: none;
    }